canvas {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 5px solid #9C89B8;
}

.title {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    .big {
        letter-spacing: 0.5em;
    }
    .flash {
        animation: Flash 1s infinite;
    }
}

@keyframes Flash {
    50% {
        opacity: 0;
    }
}

.info {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 150px;
    height: 100px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 25px;
    .info-child {
        margin: 10px 0;
    }
}

.button-list {
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    button {
        font-size: 25px;
        font-weight: bold;
        padding: 10px 30px;
        margin: 10px 0;
        color: #FFFFFF;
        border-style: none;
    }
    & button:nth-child(1) {
        background-color: #9C89B8;
    }
    & button:nth-child(2) {
        background-color: #97D2FB;
    }
    & button:nth-child(3) {
        background-color: #2F2F2F;
    }
    & button:nth-child(4) {
        background-color: #E50D67;
    }
}