canvas {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 5px solid #9C89B8;
}

.title {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 40px;
}

.score {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 150px;
    height: 100px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 25px;
}
