canvas {
    display: block;
    margin: auto;
    border: 3px solid #FFFF66;
}

.how-control {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    align-items: center;
    font-weight: bold;
    color: #FFFF66;
}